
{% comment %} <link rel="preconnect" href="https://fonts.googleapis.com"> {% endcomment %}
{% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}

<link href="{{ 'assets/fnt/Roobert.css' | absolute_url }}" rel="stylesheet">
<link href="{{ 'assets/fnt/AnthropicSerif.css' | absolute_url }}" rel="stylesheet">

{% comment %} <link href="{{ 'assets/fnt/Atkinson.css' | absolute_url }}" rel="stylesheet"> {% endcomment %}
{% comment %} <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> {% endcomment %}
{% comment %} <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet"> {% endcomment %}
{% comment %} <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">{% endcomment %}
{% comment %} <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet"> {% endcomment %}

{%- include meta.liquid -%}
{%- assign disableSeo = meta.theme.features.disable_seo | downcase | strip | default: false -%}
{%- case disableSeo -%}
  {%- when true, "true", 1, "1", "yes", "on" -%}
    {%- assign disableSeo = true -%}
  {%- when false, "false", 0, "0", "no", "off" -%}
    {%- assign disableSeo = false -%}
  {%- else %}
    <!-- Error in site.data.meta.theme.features.disable_seo -->
    {%- assign disableSeo = false -%}
{%- endcase -%}

<!-- SEO -->
{% if disableSeo == false -%}
  {%- seo title=false -%}
{%- endif -%}
<!-- /SEO -->
